<div class="container-fluid quizzes-page py-2 px-5">

  <!-- Header -->
  <div class="row mb-4 justify-content-between align-items-center page-header">

    <div class="col-md-4 breadcrumb-wrapper">
      <app-breadcrumbs [currentRouterLink]="'Quizzes'" />
    </div>

    <div
      class="col-md-3 new-quiz-wrapper"
      (click)="openAddQuizDialog()"
    >
      <button class="black-btn">
        <i class="fa-regular fa-clock"></i>
        Set up a new quiz
      </button>
    </div>

  </div>


  <div class="row p-3 main-content">

    <!-- Side buttons -->
    <div class="col-md-3 sidebar-buttons">

      <div class="buttons-container">

        <button
          class="black-btn"
          routerLink="questions"
        >
          <span>
            <i class="fa-solid fa-building-columns fa-xl"></i>
          </span>
          Question banks
        </button>

        <button
          class="black-btn"
          routerLink="quizzes-list"
        >
          <span>
            <i class="fa-regular fa-clock fa-xl"></i>
          </span>
          Quizzes
        </button>

      </div>

    </div>


    <!-- Main content -->
    <div class="col-md-9 quizzes-content">

      <!-- Upcoming -->
      <div class="upcoming mb-3">

        <h3>
          Upcoming quizzes :
          <span class="fs-4">
            {{
              upcomingQuizzes.length < 1
                ? "No upcoming quizzes"
                : upcomingQuizzes.length
            }}

            {{ upcomingQuizzes.length > 1 ? "quizzes" : "quiz" }}
          </span>
        </h3>


        @for(quiz of upcomingQuizzes; track quiz._id) {

          <div class="card mb-3">

            <div class="row g-0">

              <div class="col-md-2 quiz-image-wrapper">

                <img
                  [src]="'assets/images/svg/upcoming_01.svg'"
                  class="img-fluid rounded-start"
                  alt="Upcoming quiz"
                />

              </div>


              <div class="col-md-10">

                <div class="card-body">

                  <h5 class="card-title fw-bold">
                    {{ quiz.title }}
                  </h5>

                  <p class="date">
                    {{ quiz.schadule | date : "dd/MM/yyyy" }}

                    <span class="dash">|</span>

                    {{ quiz.schadule | date : "HH:mm a" }}
                  </p>


                  <div class="num-students">

                    <span>
                      No. of student's enrolled:
                      {{ quiz.participants }}
                    </span>

                    <a
                      routerLink="/dashboard/quizzes/view/{{ quiz._id }}"
                    >
                      Open
                      <span>
                        <i class="fa-solid fa-circle-arrow-right"></i>
                      </span>
                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

        }

      </div>


      <!-- Completed -->
      <div class="complete">

        <div class="heading">

          <p>Completed quizzes</p>

          <a routerLink="#">
            results
            <span>
              <i class="fa-solid fa-right-long"></i>
            </span>
          </a>

        </div>


        <!-- Table wrapper for horizontal scroll -->
        <div class="table-wrapper">

          <table class="black-table table">

            <thead>
              <tr>

                @for (head of completedHeaders; track head) {

                  <th scope="col">
                    {{ head }}
                  </th>

                }

              </tr>
            </thead>


            <tbody>

              @for (quiz of completedQuizzes; track quiz._id) {

                <tr>

                  <td>{{ quiz.title }}</td>

                  <td>{{ quiz.status }}</td>

                  <td>{{ quiz.description }}</td>

                  <td>{{ quiz.type }}</td>

                  <td>{{ quiz.questions_number }}</td>

                  <td>{{ quiz.difficulty }}</td>

                  <td>{{ quiz.duration }} min</td>

                  <td>
                    {{ quiz.closed_at | date : "dd/MM/yyyy HH:mm a" }}
                  </td>

                </tr>

              }

            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>