<section class="p-3">
  <h1 class="mb-4 px-3">All quizzes</h1>
  <table class="black-table table">
    <thead>
      <tr>
        @for (head of headers; track head) {
        <th scope="col">{{ head }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (quiz of quizzesList; track quiz._id) {
      <tr>
        <td>{{ quiz.title }}</td>
        <td>{{ quiz.code }}</td>

        <td>{{ quiz.description }}</td>
        <td>{{ quiz.type }}</td>
        <td>{{ quiz.questions_number }}</td>

        <td>{{ quiz.difficulty }}</td>
        <td>{{ quiz.duration }} min</td>
      </tr>
      }
    </tbody>
  </table>
</section>
