.auth-container {
  height: 100%;
  background-color: $auth-bg;
  color: $auth-text-color;
  .form-container {
    height: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__title {
      color: $auth-hover-color;
      padding: 1rem 0;
    }
    &__link {
      text-align: end;
      a {
        color: $auth-hover-color;
        text-decoration: underline;
      }
    }
    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  .image-container {
    width: 100%;
    img {
      width: 100%;
      height: 37rem;
    }
  }
}
