<nav class="d-flex align-items-center justify-content-between g-5">
  <div class="logo">
    <i class="fa-solid fa-bars"></i>
    <img src="../../../../assets/images/svg/logo-icon.svg" alt="" />
  </div>
  <div class="title d-flex justify-content-between align-items-center w-50">
    <h2>Dashboard</h2>
    <div class="time">
      <span class="fw-bold">{{currentTime}}</span>
    </div>
    <div class="new-quiz">
      <button>
        <img src="../../../../assets/images/svg/new-quiz-icon.svg" alt="" />
        New quiz
      </button>
    </div>
  </div>
  <div class="dropdown">
    <p class="name m-0">{{ userName }}</p>
    <p class="role">{{ role }}</p>
  </div>
</nav>
