<section class="auth-container">
  <div class="container-fluid h-100 d-flex align-items-center">
    <div class="row w-100 justify-content-around">
      <div class="col-md-6">
        <div class="logo-container mb-3">
          <img [src]="logoPath" alt="logo" />
        </div>
        <div class="form-container">
          <form [formGroup]="authForm">
            <h1 class="form-container__title">{{ formTitle }}</h1>

            @for(input of inputs; track input.type){
            <app-shared-input
              [placeholder]="input.placeholder"
              [label]="input.label"
              [type]="input.type"
              [name]="input.control"
              [icon]="input.icon"
            ></app-shared-input>
            }
            <button
              class="auth-button"
              type="submit"
              [disabled]="authForm.invalid"
            >
              {{ buttonName }} <i class="fa-solid fa-circle-check"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-container">
          <img [src]="imagePath" alt="auth-image" />
        </div>
      </div>
    </div>
  </div>
</section>
