
<section class="auth-container">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center">

      <!-- Form Section -->
      <div class="col-12 col-lg-6 auth-form-section">
        <div class="auth-content">

          <div class="logo-container mb-2">
            <img [src]="logoPath" alt="logo" />
          </div>

          <div class="form-container">
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

              <h1 class="form-container__title">
                {{ formTitle }}
              </h1>

              @if (formType === 'register' || formType === 'login') {
                <div class="row  my-2 icons-container">

                  <div
                    class="col-6 "
                   
                  >
                  <div class="auth-icon "  [routerLink]="authRoutes.LOGIN"
                    routerLinkActive="active">
                     <span>
                      <i class="fa-solid fa-user-tie fa-2xl"></i>
                    </span>
                    <p >Sign in</p>
                  </div>
                   
                  </div>

                  <div
                    class="col-6 "
                  
                  >
                  <div class="auth-icon"  [routerLink]="authRoutes.REGISTER"
                    routerLinkActive="active" >
 <span>
                      <i class="fa-solid fa-user-plus fa-2xl"></i>
                    </span>
                    <p>Sign up</p>
                  </div>
                   
                  </div>

                </div>
              }

              <div class="row">

                @for (input of inputs; track input.control) {

                  <div
                    [class]="
                      input.control === 'first_name' ||
                      input.control === 'last_name'
                        ? 'col-12 col-md-6'
                        : 'col-12'
                    "
                  >

                    <app-shared-input
                      [placeholder]="input.placeholder"
                      [label]="input.label"
                      [type]="input.type"
                      [name]="input.control"
                      [icon]="input.icon"
                    ></app-shared-input>

                    <!-- Email Errors -->
                    @if (
                      authForm.get(input.control)?.touched &&
                      authForm.get(input.control)?.hasError('required')
                    ) {
                      <p class="error">
                        {{ input.label }} is required
                      </p>
                    }

                    @if (
                      authForm.get(input.control)?.touched &&
                      authForm.get(input.control)?.hasError('email')
                    ) {
                      <p class="error">
                        Email is not valid
                      </p>
                    }

                    @if (
                      authForm.get(input.control)?.touched &&
                      authForm.get(input.control)?.hasError('minlength')
                    ) {
                      <p class="error">
                        Password must be at least 6 characters long
                      </p>
                    }

                  </div>
                }

              </div>

              <div class="form-actions">

                <button
                  class="auth-button"
                  type="submit"
                  [disabled]="isLoggingIn"
                >

                  @if (!isLoggingIn) {
                    <span>{{ buttonName }}</span>
                    <i class="fa-solid fa-circle-check"></i>
                  } @else {
                    <div class="spinner">
                      <i class="fa fa-spinner fa-spin"></i>
                    </div>
                  }

                </button>

                @if (formType === 'login') {
  <p class="form-container__link">
    Forget password?
    <a [routerLink]="authRoutes.RESET_PASSWORD">
      click here!
    </a>
  </p>
}

@if (formType === 'resetPassword') {
  <p class="form-container__link">
    Remember your password?
    <a [routerLink]="authRoutes.LOGIN">
      Sign in
    </a>
  </p>
}

              </div>

            </form>
          </div>

        </div>
      </div>

      <!-- Image Section -->
      <div class="col-lg-6 auth-image-section">
        <div class="image-container">
          <img
            [src]="imagePath"
            alt="auth-image"
          />
        </div>
      </div>

    </div>
  </div>
</section>

