<!-- <section class="delete-item">
  <div class="title d-flex justify-content-between align-items-center">
    <div class="heading ps-3">Delete {{ data.title }}</div>
    <div class="icons">
      <span mat-dialog-close><i class="fa-solid fa-check"></i></span>
      <span mat-dialog-close><i class="fa-solid fa-xmark"></i></span>
    </div>
  </div>

  <p class="delete-text">{{ data.description }}</p>
  <div class="delete-img m-5 mx-3 text-center">
    <img class="delete-img" src="../../../../../../../../../../../assets/images/Jpg/delete.jpg" alt="">
  </div>
</section> -->

<section>
  <div class="container">
    <div class="row bord-bottm">
      <div class="col-8 py-3"><h4 class="ps-3 pt-2 fw-bold">Delete question</h4></div>
      <div class="col-2 bord-inline py-3 save-btn text-center">
        <button class="border-0 bg-transparent ">
          <i class="fa-solid fa-check fs-3 pt-2"></i>
        </button>
      </div>
      <div class="col-2 py-3 close-btn text-center">
        <button class="border-0 bg-transparent ">
          <i class="fa-solid fa-xmark fs-3 pt-2 ps-1"></i>
        </button>
      </div>
    </div>
    <p class="delete-text m-3">{{ data.description }}</p>

    <div class="delete-img m-5 mx-3 text-center">
      <img class="delete-img" src="../../../../../../../../../../../assets/images/Jpg/delete.jpg" alt="">
    </div>
  </div>
</section>