<section>
  <div class="container">
    <div class="row bord-bottm">
      <div class="col-10 py-3"><h4 class="ps-3 pt-2">{{data.heading}}</h4></div>
      <div class="col-1 bord-inline py-3" (click)="onSubmit()">
        <button class="border-0 bg-transparent" [disabled]="form.invalid">
          <i class="fa-solid fa-check fs-3 pt-2"></i>
        </button>
      </div>
      <div class="col-1 py-3" (click)="onNoClick()">
        <button class="border-0 bg-transparent">
          <i class="fa-solid fa-xmark fs-3 pt-2 ps-1"></i>
        </button>
      </div>
    </div>
    <div class="m-5 mx-3">
      <form [formGroup]="form">
        <div class="row">
        <ng-container *ngFor="let field of data.fields">
          <div [ngSwitch]="field.type">
              <div class="col-md-5">
                <mat-form-field
                *ngSwitchCase="'text'"
                appearance="outline"
                class="w-100"
                >
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.name" />
                <mat-error>{{ field.label }} is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field
              *ngSwitchCase="'select'"
              appearance="outline"
              class="w-100"
          >
            <mat-label>{{ field.label }}</mat-label>
            <mat-select [formControlName]="field.name" multiple>
              @for (option of field.value; track $index) {
                <mat-option [value]="option">{{
                  option
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        </div>
      </ng-container>
    </div>
      </form>
    </div>
  </div>
</section>
