<div
  class="card-container d-flex justify-content-between align-items-center border-1 border-black w"
>
  <div class="text-side">
    <h3 class="card-title m-0">{{ title }}</h3>
    <div class="ranks">
      <span class="status text-capitalize">{{ status }} </span>
      @if (status ==="active" ) {
      <span class="ps-2 group-name"> Group name : {{ groupName }}</span>
      }
    </div>
  </div>
  <div class="actions-container">
    <div class="dropdown">
      <span
        class="p-3"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-solid fa-ellipsis-vertical" style="color: #0d1321"></i>
      </span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @for(action of actions ;track action){
        <li>
          <a
            class="dropdown-item"
            (click)="performAction(action, data)"
            [ngClass]="{ 'text-danger': action.isDanger }"
          >
            {{ action.label }}
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
