@import "../../../../assets/sass/abstracts/variables";


.profile-page {

  width: 100%;
  margin: 25px 0;
  padding: 25px 0;

  box-shadow: 0 0 10px #0003;
  border-radius: 60px;

  overflow: hidden;


  h2 {

    text-align: center;
    margin: 50px 0;

    font-size: 28px;
    font-weight: bold;

  }


  form {

    width: 50%;
    margin: 10px auto;


    .input-group {

      --bs-border-radius: 10px;


      .input-group-text {

        min-width: 120px;

        justify-content: center;

        background-color: $auth-text-color;

        font-weight: 600;
        font-size: 18px;

        border-right: 0;


        &:focus {
          box-shadow: none;
        }

      }


      .form-control {

        border-left: 0;
        border-color: #dee2e6;


        &:focus {

          box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0);
          border-color: rgba(255, 237, 223, 1);

        }

      }

    }


    input:read-only {

      background-color: #dfd3c7 !important;

    }


    .form-actions {

      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 10px;


      button {

        min-width: 100px;
        font-weight: bold;

      }


      .save {

        background-color: #ffeddf;
        border-color: #ffeddf;
        color: #333;


        &:hover {
          background-color: #f1e1d4;
        }

      }

    }

  }

}


// ======================================
// Tablet
// ======================================
@media (max-width: 991.98px) {
  .profile-page {
    width: 100%;
    margin: 20px 0;
    border-radius: 40px;

    h2 {
      margin: 35px 0;
      font-size: 25px;
    }

    form {
      width: 70%;
    }
  }
}


// ======================================
// Mobile
// ======================================
@media (max-width: 767.98px) {
  .profile-page {
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 20px;

    h2 {
      margin: 25px 0;
      font-size: 21px;
    }

    form {
      width: 100%;
      margin: 0 auto;
    }
  }
}


// ======================================
// Small Mobile
// ======================================

@media (max-width: 480px) {

  .profile-page {

    width: calc(100% - 16px);
    border-radius: 15px;


    h2 {

      margin: 20px 0;

      font-size: 19px;

    }


    form {

      width: calc(100% - 20px);


      .input-group {

        margin-bottom: 15px !important;


        .input-group-text {

          min-width: 85px;

          font-size: 12px;
          padding: 9px 5px;

        }


        .form-control {

          font-size: 12px;
          padding: 9px 8px;

        }

      }


      .form-actions {

        button {

          min-width: 80px;
          font-size: 13px;

        }

      }

    }

  }

}