<section class="profile-page">

  <div class="container">

    <h2>Update Profile</h2>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
    >

      <div class="row">

        <div class="col-12">
          <div class="input-group mb-4">
            <label
              class="input-group-text"
              for="first_name"
            >
              First name
            </label>

            <input
              type="text"
              class="form-control"
              id="first_name"
              formControlName="first_name"
            />
          </div>
        </div>


        <div class="col-12">
          <div class="input-group mb-4">
            <label
              class="input-group-text"
              for="last_name"
            >
              Last name
            </label>

            <input
              type="text"
              class="form-control"
              id="last_name"
              formControlName="last_name"
            />
          </div>
        </div>


        <div class="col-12">
          <div class="input-group mb-4">
            <label
              class="input-group-text"
              for="email"
            >
              Email
            </label>

            <input
              type="text"
              class="form-control"
              readonly
              id="email"
              formControlName="email"
            />
          </div>
        </div>

      </div>


      <div class="form-actions">

        <button
          type="button"
          class="cancel btn btn-secondary"
        >
          Cancel
        </button>

        <button
          type="submit"
          class="save btn btn-primary"
        >
          Save
        </button>

      </div>

    </form>

  </div>

</section>