<section class="p-4">
  <div class="container-fluid">
    <div class="col-md-3 join-icon" (click)="openJoinCodeDialog()">
      <span>
        <i class="fa-solid fa-stopwatch"></i>
      </span>
      <h5 class="m-0 mt-2">Join Quiz</h5>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="complete">
          <div class="heading">
            <p>Completed quizzes</p>
          </div>
          <!-- <table class="black-table table">
            <thead>
              <tr>
                @for (head of completedHeaders; track head) {
                <th scope="col">{{ head }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (quiz of completedQuizzes; track quiz._id) {
              <tr>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.status }}</td>
                <td>{{ quiz.description }}</td>
                <td>{{ quiz.type }}</td>
                <td>{{ quiz.questions_number }}</td>
                <td>{{ quiz.difficulty }}</td>
                <td>{{ quiz.duration }} min</td>
                <td>{{ quiz.closed_at | date : "dd/MM/yyyy HH:mm a" }}</td>
              </tr>
              }
            </tbody>
          </table> -->
          <app-shared-table
            [tableHeaders]="tableHeaders"
            [tableBodyContent]="upcomingQuizzes"
            [displayHeaders]="displayHeaders"
            [buttons]="buttons"
          />
        </div>
      </div>
    </div>
  </div>
</section>
