<section class="p-4">
  <div class="container-fluid ">
    <div class="col-md-3 join-icon" (click)="openJoinCodeDialog()">
      <span>
        <i class="fa-solid fa-stopwatch"></i>
      </span>
      <h5 class="m-0 mt-2">Join Quiz</h5>
    </div>
    <div class="row mt-4">
     
      <div class="col-10">
        <div class="complete">
          <div class="heading">
            <p>Completed quizzes</p>
            <a routerLink="#"
              >results <span><i class="fa-solid fa-right-long"></i></span
            ></a>
          </div>
          <table class="black-table table">
            <thead>
              <tr>
                @for (head of completedHeaders; track head) {
                <th scope="col">{{ head }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (quiz of completedQuizzes; track quiz._id) {
              <tr>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.description }}</td>
                <td>{{ quiz.type }}</td>
                <td>{{ quiz.duration }} min</td>
                <td>{{ quiz.closed_at | date : "dd/MM/yyyy HH:mm a" }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>

