<section class="p-4">
  <div class="container-fluid">
    <div class="col-md-3 join-icon" (click)="openJoinCodeDialog()">
      <span>
        <i class="fa-solid fa-stopwatch"></i>
      </span>
      <h5 class="m-0 mt-2">Join Quiz</h5>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="complete">
          <div class="heading">
            <p>Completed quizzes</p>
          </div>
          <app-shared-table
            [tableHeaders]="tableHeaders"
            [tableBodyContent]="completedQuizzes"
            [displayHeaders]="displayHeaders"
          />
        </div>
      </div>
    </div>
  </div>
</section>
