<section>
  <div class="text-end p-3">
    <button class="black-btn me-auto" (click)="openDialogAddGroup()">
      <i class="fa-solid fa-circle-plus px-2 fs-5 mt-1"></i>Add Group
    </button>
  </div>
  <div class="groups-list m-3">
    <h2>Groups list</h2>
    <div class="container-fluid">
      <div class="row">
        @for ( group of groupsData; track group._id) {
        <app-shared-card
          class="col-md-6 my-2"
          [title]="'Group : ' + group.name"
          [status]="'No. of students : ' + group.students.length"
          [actions]="groupsActions"
          [data]="group"
          (actionTriggered)="onStudentAction($event)"
        ></app-shared-card>
        }
      </div>
    </div>
  </div>
</section>
