<section>
  <div class="container-fluid">
    <div class="row p-3">
      <div class="col-5">
        <div class="view-quiz">
          <h3 class="mb-0">Data Structures Quiz One</h3>
          <p>{{quizData?.schadule | date : "dd/MM/yyyy HH:mm a" }}</p>
          <p></p>
          <div>
            <div class="input-group mb-4">
              <span class="input-group-text">Duration (in minutes)</span>
              <input type="text" class="form-control"disabled [value]="quizData?.duration">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">No. of questions</span>
              <input type="text" class="form-control"disabled [value]="quizData?.questions_number">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">Score per question</span>
              <input type="text" class="form-control"disabled [value]="quizData?.score_per_question">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text pe-4">Description</span>
              <textarea  class="form-control"disabled [value]="quizData?.description"></textarea>
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">Category type</span>
              <input type="text" class="form-control"disabled [value]="quizData?.type">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">Difficulty level</span>
              <input type="text" class="form-control"disabled [value]="quizData?.difficulty">
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button class="black-btn bg-black text-white px-4" (click)="openUpdateQuizDialog(quizData)">Edit</button>
            <button class="black-btn bg-danger text-white px-4" (click)=" openDeleteDialog(quizData)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
