<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <div class="view-quiz">
          <h3>Data Structures Quiz One</h3>
          <p></p>
          <div>
            <div class="input-group mb-4">
              <span class="input-group-text">Duration (in minutes)</span>
              <input type="text" class="form-control"disabled  value ="10 minutes">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">No. of questions</span>
              <input type="text" class="form-control"disabled  value ="15">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">Score per question</span>
              <input type="text" class="form-control"disabled  value ="1">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text pe-4">Description</span>
              <textarea  class="form-control"disabled  value ="Lorem ipsum aset amet consectedur im nascsa assadqw assacsc aidwqdjv asdewfas qwdass Lorem ipsum aset amet consectedur im nascsa assadqw assacsc aidwqdjv"></textarea>
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">Category type</span>
              <input type="text" class="form-control"disabled  value ="FE">
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text">Difficulty level</span>
              <input type="text" class="form-control"disabled  value ="Easy">
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button class="black-btn bg-danger text-white px-4">Delete</button>
            <button class="black-btn bg-black text-white px-4">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
